<div id="footer">
    <h2>Testimonials</h2>
</div>
<div class="paragraph">
    which included sloping lawns, flowerbeds, vegetable patches, as well as a loch
</div>
<div class="paragraph">
    which included sloping lawns,
</div>
<div class="paragraph">
    which included sloping lawns, flowerbeds, vegetable patches, as well as a loch
</div>