<div class="footer">
        <div class="testimonials">
          <h2>Testimonials</h2>
        </div>
      </div>
      <div class="paragraph">
        <p>
          which included sloping lawns, flowerbeds, vegetable patches, as well
          as a loch
        </p>
      </div>
      <div class="paragraph">
        <p>which included sloping lawns,</p>
      </div>
      <div class="paragraph">
        <p>
          which included sloping lawns, flowerbeds, vegetable patches, as well
          as a loch
        </p>
</div>