<div class="nav">
 <a href="/">
    <li>
      Home Page
    </li>
</a>
<a href="/houses">
  <li>
    Houses
  </li>
</a>
<a href="/contact">
  <li>
    Contact Us
  </li>
</a>
  <li>
    Example Page 1
  </li>
  <li>
    Example Page 2
   </li>
</div>